node_modules
.next
dist
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.turbo
.cache
.vercel
artifacts
cache
typechain-types
prisma/migrations/dev.db*
.pnpm-store
playwright-report
test-results
